*  {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.carousel-wrapper  {
  width: 60%;
  margin: auto;
  overflow: hidden;
}
.carousel  {
  display: flex;
  width: 100%;
  position: relative;
}
#carousel__button--prev  {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
#carousel__button--next  {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
